<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebCompTesting</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>servlet1_desc</description>
    <display-name>servlet1</display-name>
    <servlet-name>servlet1</servlet-name>
    <servlet-class>com.github.zeugor.WebCompTesting.servlets.servlet1</servlet-class>
    <init-param>
      <description>desc1</description>
      <param-name>param1</param-name>
      <param-value>value1</param-value>
    </init-param>
    <init-param>
      <description>desc2</description>
      <param-name>param2</param-name>
      <param-value>value2</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet1</servlet-name>
    <url-pattern>/servlet1</url-pattern>
    <url-pattern>/servletHelloWorld</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>jspTagLibSample</servlet-name>
  	<jsp-file>/jsp/TagLibSample.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>jspTagLibSample</servlet-name>
  	<url-pattern>/tagLibSample</url-pattern>
  </servlet-mapping>
  
  <jsp-config>
	  <taglib>
	  	<taglib-uri>tagLibInDD</taglib-uri>
	  	<taglib-location>/WEB-INF/tld/noUri.tld</taglib-location>
	  </taglib>
	  
	  <taglib>
	  	<taglib-uri>tagLibInDD_modifyingTheUri</taglib-uri>
	  	<taglib-location>/WEB-INF/tld/myTags.tld</taglib-location>
	  </taglib>	 
	  
	  <taglib>
	  	<taglib-uri>el_1a</taglib-uri>
	  	<taglib-location>/WEB-INF/tld/elFunctionsTld.tld</taglib-location>
	  </taglib>
	  

	  
	  
  </jsp-config>
  
  
</web-app>